<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title> Dashboard</title>
    <!-- Iconic Fonts -->
    <link href="{{baseUrl}}vendors/iconic-fonts/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{baseUrl}}vendors/iconic-fonts/flat-icons/flaticon.css">
    <!-- Bootstrap core CSS -->
    <link href="{{baseUrl}}assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery UI -->
    <link href="{{baseUrl}}assets/css/jquery-ui.min.css" rel="stylesheet">
    <!-- Weedo styles -->
    <link href="{{baseUrl}}assets/css/style.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{{baseUrl}}favicon.ico">

</head>

<body class="ms-body ms-primary-theme ms-logged-out">

    <!-- Main Content -->
    <main class="body-content">



        <!-- Body Content Wrapper -->
        <div class="ms-content-wrapper ms-auth">

            <div class="ms-auth-container">

                <div class="ms-auth-col">
                    <div class="ms-auth-form">
                        <form class="needs-validation" novalidate="" id="login-form">
                            <h1>Reset Password</h1>
                            <p>Please enter your password & confirm password to continue</p>
                            <div class="mb-3">
                                <label for="email">Password</label>
                                <div class="input-group">
                                    <input type="text" name="password" class="form-control" id="newPassword"
                                        placeholder="Password..." required="">
                                    <div class="invalid-feedback">
                                        Please provide a valid email.
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <label for="password">Confirm Password</label>
                                <div class="input-group">
                                    <input type="password" name="confirm_password" class="form-control" id="confirmPassword"
                                        placeholder="Password" required="">
                                    <div class="invalid-feedback">
                                        Please provide a password.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{!-- <label class="ms-checkbox-wrap">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <i class="ms-checkbox-check"></i>
                                </label>
                                <span> Remember Password </span> --}}
                                {{!-- <label class="d-block mt-3"><a href="#" class="btn-link" data-toggle="modal"
                                        data-target="#modal-12">Forgot Password?</a></label> --}}
                            </div>
                            <button class="btn btn-primary mt-4 d-block w-100" type="submit">Reset Password</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        </aside>
    </main>
    <script src="{{baseUrl}}assets/js/jquery-3.3.1.min.js"></script>
    {{>notify}}
    <script>
        $(document).ready(function () {
            $('#login-form').on('submit', function (e) {
                e.preventDefault();
                const newPassword = $('#newPassword').val();
                const confirmPassword = $('#confirmPassword').val();
                $.ajax({
                    url: '/api/auth/reset-password',
                    type: 'POST',
                    data: { newPassword: newPassword, confirmPassword: confirmPassword,token:'{{token}}',email:'{{email}}' },
                    success: function (response) {
                        const responseJSON = response;
                        if (responseJSON.status) {
                            toastr.success(responseJSON.message);
                            setTimeout(function () {
                                window.location.reload();
                            }, 2000);

                        } else {
                            $('#error-message').text(response.message).show();
                            toastr.error(responseJSON.message)
                        }
                    },
                    error: function (response) {
                        console.log(response);
                        const responseJSON = response.responseJSON;
                        toastr.error(responseJSON.message);
                    }
                });
            });
        });
    </script>

</body>

</html>